/* Default */
body {
	font-family:verdana, arial, helvetica, sans-serif;
	font-size: 12px;
}

/* pengaturan halaman*/
#container{
	width: 1000px;
	font-size: 90%;
	margin: 0 auto;
}

/*pengaturan header */
#header{
	padding: 0px;
	height: 100px;
	border: #000000 solid 1px;
	background-color: #ffffff;
}

#header h1 {
	display:block;
	margin-top: 30px;
	width:815px;
	height:29px;
	padding:10px;
	color:#003399;
	font-family: 'trebuchet ms', helvetica, arial, sans-serif;
}

/* pengaturan side panel*/
#sidebar{
	float: center;
	margin-top: 0px;
	padding-left: 400px;
}


/* pengaturan menu navigasi */
ul#navmenu {
	margin: 0 auto;
	text-align: center;
	padding: 0px ;
	height: 0px;
	list-style-type: none;
}

ul#navmenu li{
    margin-bottom :5px;
	float: left;
}
ul#navmenu a {
	border: #000000 solid 1px;
    display: inline-block;
	width: auto;
	height: auto;
	background-color : #FFFFFF;
	padding : 5px 5px 3px;
	text-align : left;
	text-decoration: none;
	color :#000000;
	cursor : pointer;
}

ul#navmenu a:hover, ul#navmenu a:focus, ul#navmenu a:active {
	background-color : #333;
	color : #fff;
}

ul#navmenu a.selected, ul#navmenu a.selected:hover,
ul#navmenu a.selected:focus, ul#navmenu a.selected:active {
	background-color : #FFFFFF;
    color : #000000;
    
}

ul#navmenu a.selected{
	text-align : left;
	cursor : default;
}

/* pengaturan content */
#page{
	border: #000000 solid 1px;
	margin-top: 5px;
	padding: 10px;
	width: 977px;
	height: auto;
	float: left;
}
#page h2{
	color: #993300;
	font-family:'trebuchet ms', helvetica, arial, sans-serif;
}
img{
    border: none;
}

#clear{
	clear: both;
}

/* pengaturan footer */
#footer{
	border: #000000 solid 1px;
	margin-top: 5px;
	text-align: center;
	background-color:#FFFFFF;
}